[mysqld]
pip-file        = /var/run/mysqld/mysqld.pid
socker          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysqld
secure-file-priv= NULL
innodb_ft_min_token_size = 1


#Custom config should go here
!includedir /etc/mysql/conf.d